@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12" id="resultsList">

        </div>
    </div>
</div>


<script src="~/Content/jscript/jquery-2.1.4.min.js"></script>
<script src="~/Content/jscript/common.js"></script>